[[rule]]
toolName = "run_shell_command"
decision = "deny"
priority = 1

[[rule]]
toolName = "run_shell_command"
commandPrefix = "rm "
decision = "deny"
priority = 999

# Disallow non-existent "--g" flag
[[rule]]
toolName = "run_shell_command"
commandPrefix = "rg --g"
decision = "deny"
priority = 999

[[rule]]
toolName = "run_shell_command"
commandPrefix = ["rg ", "find "]
decision = "allow"
priority = 2

[[rule]]
toolName = "run_shell_command"
commandRegex = "git (commit|add|status|grep|diff|log)"
decision = "allow"
priority = 2

[[rule]]
toolName = "run_shell_command"
commandRegex = "git (merge|rebase|rm|restore|reset|checkout|branch)"
decision = "ask_user"
priority = 2


[[rule]]
toolName = "run_shell_command"
commandRegex = "gh (pr|issue)"
decision = "allow"
priority = 2

[[rule]]
toolName = "run_shell_command"
commandRegex = "make (codegen|check|push)"
decision = "allow"
priority = 2

